# Test queries to access Project-2 sparkifydb
This file has queries to verify data in sparkifydb in Apache Cassandra
There are two types of queries:
1) Query1-3 to answer the exact questions asked in Project-2
2) Generic queries to access sparkifydb data more generally.

In [1]:
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

In [2]:
from cassandra.cluster import Cluster
try: 
    cluster = Cluster(['127.0.0.1'])
    session = cluster.connect()

except Exception as e:
    print(e)

try:
    session.set_keyspace('sparkifydb')
except Exception as e:
    print(e)

## Specific Project-2 queries

QUERY-1: Give me the artist, song title and song's length in the music app history that was heard during sessionId = 338, and itemInSession = 4

In [4]:
query =  """SELECT artist, song, length 
            FROM song_in_session 
            WHERE session_id = 338 AND item_in_session = 4"""
try:
    songs = session.execute(query)
except Exception as e:
    print(e)

for row in songs:
    print (row.artist, row.song, row.length)

QUERY-2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

In [5]:
query =  """SELECT artist, song, first_name, last_name 
            FROM artist_in_session 
            WHERE  user_id = 10 AND session_id = 182"""
try:
    songs = session.execute(query)
except Exception as e:
    print(e)

for row in songs:
    print (row.artist, row.song, row.first_name, row.last_name)

QUERY-3: Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [6]:
query =  """SELECT first_name, last_name 
            FROM user_and_song 
            WHERE song = 'All Hands Against His Own'"""
try:
    songs = session.execute(query)
except Exception as e:
    print(e)

for row in songs:
    print (row.first_name, row.last_name)

## Generic queries

In [7]:
query = "SELECT COUNT(*) FROM song_in_session"
try:
    songs = session.execute(query)
except Exception as e:
    print(e)

for row in songs:
    print (row)

print('---')
query = "SELECT * FROM song_in_session LIMIT 10"
try:
    songs = session.execute(query)
except Exception as e:
    print(e)

print ("session_id", "|", "item_in_session", "|", "artist", "|", "length", "|", "song")
for row in songs:
    print (row.session_id, "|", row.item_in_session, "|", row.artist, "|", row.length, "|", row.song)

Row(count=0)
---
session_id | item_in_session | artist | length | song

In [8]:
query = "SELECT COUNT(*) FROM artist_in_session"
try:
    songs = session.execute(query)
except Exception as e:
    print(e)

for row in songs:
    print (row)

print('---')
query = "SELECT * FROM artist_in_session LIMIT 10"
try:
    songs = session.execute(query)
except Exception as e:
    print(e)

print ("user_id", "|", "session_id", "|", "item_in_session", "|", "artist", "|", "first_name", "|", "last_name")
for row in songs:
    print (row.user_id, "|", row.session_id, "|", row.item_in_session, "|", row.artist, "|", row.first_name, "|", row.last_name)

Row(count=0)
---
user_id | session_id | item_in_session | artist | first_name | last_name

In [14]:
query = "SELECT COUNT(*) FROM user_and_song"
try:
    songs = session.execute(query)
except Exception as e:
    print(e)

for row in songs:
    print (row)

print('---')
query = "SELECT * FROM user_and_song LIMIT 10"
try:
    songs = session.execute(query)
except Exception as e:
    print(e)

print("song", "|", "first_name", "|", "last_name", "|", "user_id")
for row in songs:
    print (row.song, "|", row.first_name, "|", row.last_name, "|", row.user_id)

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).